#first-text {
	position: relative;
	z-index: 10;
	color: rgb(254, 133, 86);
	text-shadow: 0 4px 2px rgb(119,80,65); 
	text-align: right;
	font-family: 'Ailerons', "Source Code Pro",consolas,Menlo,"PingFang SC","Microsoft YaHei",monospace;
	font-size: 40px;
	margin-top: -0.5em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

#first-pic {
	position: relative;
	margin: 5%;
}

.first-ps > .psicon {
	margin: 30px auto 5px auto; 
}
.first-ps > .msg {
	position: relative;
	margin: 5px 30px 30px 30px;
	/*text-indent: 1.5em;*/
	/*text-align: center;*/
}

.lr {
	position: relative;
	margin: 30px auto 30px auto;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom: 2px solid rgb(247, 130, 80);
	border-top: 2px solid rgb(247, 130, 80);
	border-radius: 150px 150px 0 0;
}

.lr-title {
	position: absolute;
	top: -1em;
	line-height: 1.4em;
	padding-bottom: 4px;
	width: 30%;
	left: 35%;
	text-align: center;
	color: white;
	background-color: rgb(247, 130, 80);
	font-size: 20px;
	font-family: 'Ailerons','黑体';
	border-radius: 5px;
}

.ur > * {
	text-indent: 0;
	text-align: center;
	font-size: 16px;
	position: absolute;
	padding: 1.9em 1em 1.9em 1em; 

	/*left: 0;*/
	
	border-radius: 5em;
	/*transition: all 1s;*/
}

.ur > p {
	background-color: rgb(247, 130, 80);
	color: white;
	font-family: 'Ailerons', "Source Code Pro",consolas,Menlo,"PingFang SC","Microsoft YaHei",monospace;
	transition: all 1s;
	-webkit-transition: all 1s;

	background-image: url('../image/vector/circle-white.svg');
	background-repeat: no-repeat;
	background-position: -400% -400%;
	overflow: hidden;
}
.ur > p:hover {
	color: #222;
	
	background-position: 0% 0%;
	transition: all 1s;
	-webkit-transition: all 1s;
	
}

.ur:nth-child(even) > p{
	right: 0;
}
.ur:nth-child(odd) > div {
	right: 0;
}
