.form{
	height: 100%;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
.form input, .form textarea{
	text-indent: 0.5em;
}
.form_back{
	width: 284px;
	margin: auto;
	background-color: #d7e3f5;
	border-radius: 6px;
	box-shadow: 10px 10px 15px #f2f6fc;
}
.title{
	font-family: "微软雅黑";
	font-size: 20px;
	color: #7678b5;
	line-height: 50px;
}
.title1{
	font-family: "微软雅黑";
	font-size: 16px;
	color:#7678b5;
}
.frame{
	min-width: 255px;
	min-height: 20px;
	resize: none;
	border: #b5cbdd solid 1px;
	font-size: 16px;
}
.frame:hover{
	outline: #5a7ac2 1px solid;
}
.block{
	margin: 6px auto;
}
.bottom{
	padding-bottom: 20px;
}
.sent{
	margin: auto;
}
.sent button{
	text-align: center;
	width: 200px;
	height: 60px;
	border-radius: 10px;
	margin: auto;
	background-color: #ffa683;
	color: white;
	font-size: 36px;
	font-family: 'Myriad Pro Regular','Arial';
	box-shadow: 6px 6px 12px #ffe0d4;
	border:none;
	outline: none;
}
#success {
	position: fixed;
	width: 100%; 
	height: 100%; 
	background-color: #FFF; 
	top: 0;
	z-index: 999; 
	display: none;
}
#success .msg {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}
#welcome-pic {
	width: 100%;
}
#ps-icon {
	width: 60px;
	position: absolute;
	right: 50px;
	bottom: 22%;
}
#success > span {
	content: ""; 
	width: 100%; 
	height: 30px;
	background-color: rgb(110, 101, 140);
	position: absolute;
	bottom: 20%; 
}
#success > span:before {
	content: "";
	position: absolute;
	height: 0; 
	height: 120px;
	width: 120px;
	top: -150px;
	left: -120px; 
	border: 30px solid rgb(110, 101, 140);
	border-radius: 120px;
	background-color: #FFF;
}
