/*main.css*/

* {
	padding: 0; 
	margin: 0;
	font-family: "Source Code Pro",consolas,Menlo,"PingFang SC","Microsoft YaHei",monospace;
	/*overflow-x: hidden;*/
}


body {
	overflow-x: hidden;
}

@font-face {
	font-family: Ailerons;
	src: url('Ailerons.ttf');
}

.nav {
	z-index: 989;
	/*position: absolute;*/
	color: white; 
	text-align: center;
	width: 100%;
	height: 24px;
	padding-bottom: 2px;
	background-color: #222;
	border-radius: 0px 0px 600px 600px / 0px 0px 20px 20px;
	
	/*line-height: 20px;*/
	font-size: 16px;
	text-shadow: 0px 0px 0px #000;
	-webkit-transition: border-radius 1s, height 1s, font-size 1s, text-shadow 1s, box-shadow 1s; 
	cursor: pointer;

	overflow-y: hidden;

	box-shadow: 0px 0px 0px #BBB;

	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position: right bottom;
	/*background-bottom: 100px;*/
	background-image: url(../image/pageNeed-smaller-v2.png);

}

.nav:hover {
	border-radius: 0;
	height: 400px;
	/*line-height: 24px;*/
	font-size: 24px;
	text-shadow: 2px 4px 0px #000; 
	box-shadow: 0px 10px 0px #222;
	-webkit-transition: border-radius 1s, height 1s, font-size 1s, text-shadow 1s, box-shadow 1s; 
}

.nav:active {
	color: black;
	text-shadow: 0px 10px 0px #fff;
}

.nav:after{
	content: "↓";
	font-size: 64px;
	display: block;
	width: 100%;
	/*position: absolute;*/
	text-align: center;
	bottom: 16px;
}

#clock {
	margin-top: 20px;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	background-color: white;

	-webkit-transform: rotateY(0deg);
	
	box-shadow: 4px 4px 0px rgba(0,0,0,0.5);
	opacity: 1; 
	-webkit-transition: -webkit-transform 1s, box-shadow 1s, opacity 1s; 
}

#clock:hover {
	-webkit-transform: rotateY(-30deg);
	box-shadow: -40px 16px 0px rgba(0,0,0,0.2);
	opacity: 0.3; 
	-webkit-transition: -webkit-transform 1s,box-shadow 1s, opacity 1s; 
}

.area-display {
	position: relative;
	widows: 100%;
	margin: 50px 0 50px 0; 
	overflow-x: hidden;
}

.bottom-about {
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;  
	color: white;
	z-index: 998;
}
.bottom-about img {
	position: absolute;
	z-index: -10;
	width: 100%; 
	display: block;

}

.bottom-about a {
	color: white;
}

.bottom-about > .msg {
	position: absolute;
	width: 100%; 
	bottom: 4px; 
}

.msg span{
	content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 6px;
    overflow: hidden;
    border-color: transparent transparent transparent #FFF;
    border-style: dotted dotted dotted solid;
    border-radius: 2px;

	
	-webkit-animation-name: animate-doudong;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-duration: .4s;
	-webkit-animation-timing-function: ease-in-out;

}
.msg p {
	display: inline;
}
.msg p:after {
	content: "";display: block;
}

@keyframes animate-doudong {
	from {
		margin: 0; 
	} to {
		margin: 0 3px 0 0;
	}
}

@-webkit-keyframes animate-doudong {
	from {
		margin: 0; 
	} to {
		margin: 0 3px 0 0;
	}
}

