/*member.css*/

.member-intro {
	width: 100%; 
	position: relative;
}


.item {
	position: relative;
	height: 200px;
	padding: 20px;
	margin: 2em 5px 2em 5px;
	border: 1.5px solid #222;
	text-align: left;
	border-radius: 30px 0px 30px 0;
	

	-webkit-transition: border-radius 1s; 
}

.item:hover {
	border-radius: 0px 30px 00px 30px;

	-webkit-transition: border-radius 1s; 
}


.item:nth-child(odd){
	text-align: right;
}

#eczn {
	background-image: url('../image/gitAva-small.png');
	background-repeat: no-repeat;
	background-position: bottom right; 
	background-size: 320px;
}
#Czs {
	background-image: url('http://i2.pixiv.net/c/600x600/img-master/img/2016/09/05/01/54/59/58827189_p0_master1200.jpg');
	background-repeat: no-repeat;
	background-position: top left; 
	background-size: 240px;
}
#zjm {
	background-image: url('http://i4.pixiv.net/c/600x600/img-master/img/2016/09/05/02/03/02/58827299_p0_master1200.jpg');
	background-repeat: no-repeat;
	background-position: bottom right; 
	background-size: 200px;
}
#rb {
	background-image: url('http://i1.pixiv.net/c/600x600/img-master/img/2016/09/05/02/09/18/58827388_p0_master1200.jpg');
	background-repeat: no-repeat;
	background-position: top left; 
	background-size: 200px;
}

.item p {
	background-color: rgba(255,255,255,0.5);
}

#eczn > a {
	position: absolute;
	/*z-index: -999;*/
/*	height: 40px;
	width: 40px;*/
	padding: 1.25em 0.75em 1.25em 0.75em;
	background-color: #222; 
	color: #fff; 
	border-radius: 30px;
	bottom: -1.5em;
	left: -5px;
}

